#!/usr/bin/env bash
# ------------------------------------------------------------------------------
# Configure a Gold Image as a target VM
{% include "header.j2" %}
# ------------------------------------------------------------------------------

printf "Not implemented.\n" >&2
exit 1

