################################################################################
# Builds a gold-image
{% include "header.j2" %}
################################################################################

################################################################################
# Mandatory Configuration Items
################################################################################

name="{{ item.vm_name }}"
builder="hvm"

################################################################################
# General Options
################################################################################

# Memory Allocation

memory=8400
maxmem=8400

on_poweroff="destroy"
on_reboot="destroy"

################################################################################
# Devices
################################################################################

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = [
      'type=ioemu,mac=00:16:3E:00:00:15,bridge=xenbr0'
      ]

# Disk Devices
# A list of 'diskspec' entries as described in
# docs/misc/xl-disk-configuration.txt

disk = [
       'file:/OVS/seed_pool/{{ item.vm_name }}/root.dsk,xvda,w',
       'file:/OVS/iso_pool/{{ item.dvd }},xvdc:cdrom,r' 
       ]

################################################################################
# Fully-virtualised (HVM) Guest Specific Options
################################################################################

# Emulated VGA Graphics Device
# Guest VGA console configuration, either SDL or VNC

sdl        = 0
vnc        = 1
vncconsole = 1
vnclisten  = "0.0.0.0"
vncdisplay = 28
serial     = 'pty'
usbdevice  = 'tablet'
