################################################################################
# Builds a gold-image
################################################################################

################################################################################
# Mandatory Configuration Items
################################################################################

name="{{ item.vm_name }}"
type="hvm"

################################################################################
# General Options
################################################################################

# Memory Allocation

memory=8400
maxmem=8400

on_poweroff="destroy"
on_reboot="destroy"

# HVM guest options

firmware="ovmf"

################################################################################
# Devices
################################################################################

# Network devices
# A list of 'vifspec' entries as described in
# docs/misc/xl-network-configuration.markdown
vif = [
      'mac=00:16:3E:00:00:15,bridge=xenbr0'
      ]

# Disk Devices
# A list of 'diskspec' entries as described in
# docs/misc/xl-disk-configuration.txt

disk = [
       '/OVS/seed_pool/{{ item.vm_name }}/root.dsk,raw,xvda,rw',
       '/OVS/iso_pool/{{ item.dvd }},raw,xvdc,ro,cdrom' 
       ]

################################################################################
# Fully-virtualised (HVM) Guest Specific Options
################################################################################

# Processor and Platform Features

device_model_version="qemu-xen"
bios="ovmf"

# Emulated VGA Graphics Device
# Guest VGA console configuration, either SDL or VNC

vnc        = 1
vnclisten  = "0.0.0.0"
vncdisplay = 28
